## 2. Clase práctica - Análisis de datos con Pandas - Parte 1

## Para realizar esta NB deben tener los datasets data1 y data2 en formato csv.

**Importamos librerias que vamos a usar en toda la NB**

### Importar los dataframes.

**Llamar al data1.csv "df" y al data2 "df_variables"**.

### Detalles de la data:

**Es importante destacar que no importa mucho que significa cada variable en esta NB, ya que el objetivo principal es que puedan realizar los ejercicios y entender cómo funciona pandas**.

No obstante, les dejamos una breve descripción de algunos atributos en caso que lo necesiten.

- rut = ID de cada observación.
- Periodo = periodo de cada observación.
- Los campos rut y periodo son las claves por las cuales los registros son únicos, es decir que no hay duplicados con mismo rut y periodo.
- ind_activo: Informacion si el cliente se encuentre activo.
- estado_solicitud: estado en el que se encuentra la solcitud del cliente.
- captacion: metodo de captacion por el cual fue captado el cliente.
- marca_6m_60d_final: 1 si el cliente es malo y 0 si es bueno.
- etc.

#### Si importaron el dataset y les quedo la columna "Unnamed: 0". Eliminarla usando drop

**Atentos a no olvidarse el inplace=True!!**

### 1) Realizar Sanity check de la data.

Para este primer punto, utilizar el dataset df que hace referencia al **data1.csv.** No obstante, si quieren realizarlo en ambos, nunca esta demás.

**Funciones Útiles**

* .head()
* .info()
* .shape
* .dtypes
* .describe
* .isna()
* .sum()
* .unique()
* .nunique()
* .value_counts()

#### 1.1) Observar las primeras 5 filas del dataset "df".

#### 1.2) Observar las últimas 5 filas del dataset "df".

#### 1.3) Obtener información general del dataframe utilizando .info()

#### 1.4) Obtener dimensiones del dataframe (filas y columnas).

#### 1.5) Obtener tipo de datos de las columnas

#### 1.6) Seleccionar las columnas ind_activo, estado_solicitud y cant_tel y realizar un .head()

#### 1.7) Observar la distribucion de estas 3 variables utilizando el método describe()

#### 1.8) Chequear cantidad de valores nulos por columna.

**Pista:** Utilizar isna() y luego la suma de ello para obtener los valores por columna.

#### 1.9) Calcular el valor de nulos en %.

**Pista:** Dividir el bloque de codigo anterior por la cantidad de filas en el dataframe.

#### 1.9) Obtener la cantidad de valores únicos en las columnas categoricas.

- Primero seleccionar las columnas categoricas
- Luego correr nunique() en cada una **Fijarse de agregar el parametro dropna=False para tener en cuenta nulos**
- Luego si quieren con unique() pueden ver cuales son aquellos valores únicos.

#### 1.10) Calcular la distirbución por la variable captacion (cuantos registros hay por cada valor unico de captacion).

Utilizar la funcion value_counts() y tener en cuenta dropna.

Si lo queremos ver en %.

### 2) Tratamiento de Datos

#### 2.1) Imputacion de nulos 

Para esta parte vamos a usar el dataset "df_variables" que hace referencia al data2.csv

#### Imputar las columnas predictor1_7 y predictor1_9 por el valor 100. 

Primero chequear que tengan nulos.

**Pista:** Utilizar fillna()

#### Imputar las columnas predictor1_10 y predictor1_11 por la media de cada columna.

Primero chequear que tengan nulos.

**Pista:** Utilizar fillna()

#### 2.2) Tratamiento strings: upper, lower, replace

Para esta parte vamos a usar el dataset "df" que hace referencia al **data1.csv**

Muchas veces hay que realizar cambios en variables que vienen como string, por ejemplo, llevar todo a mayúsculas, minúsculas, reemplazar un simbolo, dividir por algún valor (*split*), etc. Pandas trae incorporada distintas funciones que nos ayudan a cumplir estas tareas. La forma de acceder a estas funciones es la siguiente:

``` pd.Series.str.#funcion```

``` tu_df.tu_columna.str.upper()```

#### Convertir los valores de captacion a letra miniscula.

Se puede hacer con str.lower() o con una funcion lambda x luego de aplicar un apply.

#### Convertir los valores de vuelta a mayusculas

####  Ahora, si reemplazar algún simbolo por podemos usar la funcion ```str.replace```, la cual toma un substring y lo convierte en otro.
Por ejemplo, reemplazar todas las "ex" por otro string en la columna ```captacion```

#### 2.3) Tratamiento de duplicados .   

**Tener en cuenta que este tema no se dio en la NB teórica pero los ejercicios pueden ser realizados si investigan un poco. No obstante, no se preocupen si no los pueden realizar ya que serán explicados en la clase práctica tambien.**

Seguimos utilizando el **data1 (df).**

#### Chequear cantidad de duplicados de las columnas estado_solicitud y periodo.

#### Chequear si tenemos duplicados por rut y periodo. Utilizar subset como parametro en la funcion duplicated.

**En la clase practica veremos como dropear duplicados**

#### 2.4) Seleccion de distintas variables y filas.

Utilizar el dataset df

#### Seleccionar las columnas rut, periodo y captacion, en donde captacion sea EXPRESS.

#### Seleccionar filas donde captacion es EXPRESS y estado solicitud Aprobado.

#### Seleccionar filas donde captacion es NORMAL, estado solicitud es Aprobado y el ind_activo es = 1. Sólo seleccionar las columnas rut, periodo, cant tel y ordenar de mayor a menor por cant_tel.

### 3) Joineo de tablas

#### MERGE

**3.1) Joineemos los dos dataframes que tenemos, por las claves de fusion que serán rut y periodo.**

Crear un dataset que se llame df_nuevo que sea un inner join entre df y df_variables. **Usar pd.merge**

**3.1 bis)**
Con el .head() podemos ver que el nuevo df contiene nuevas variables, las que agregamos desde df_variables. Vemos también que las variables que fueron clave de fusion no se duplicaron, lo cual es bueno. 

**Ahora ¿ Qué pasa si las claves de fusion se llaman distinto? Utilizar left_on y right_on**

A pesar de que las variables se llaman, y el código debajo no haria falta en este caso, muchas veces se van a encontrar con distintos nombres de claves de fusion.

**3.2) Realizar un left join pero sólo trayendo algunas variables del dataset df_variables:
'predictor1_7', 'predictor1_8', 'predictor1_9', 'ignite_ise'** . El left join debe ser sobre el dataset df, es decir, que el left seria df y el right df_variables.

Llamar a este dataframe df_merge.

**Chequear shape del nuevo dataset para ver si se hizo correctamente o tenemos duplicados**

### 4) Agrupación

Para realizar agrupaciones, las 2 maneras más comunes son groupby y pivot_table. A pesar de que pivot_table no fue detallado en las NB de teoria, acá explicaremos un poco para que puedan realizar algunos ejercicios utilizando esta herramienta.

### Pivot table

Pivot table es otra forma de realizar group by, la cuál es muy facil de entender si estamos acostumbrados a trabajar con tablas dinamicas en excel.

**Código:**

```pd.pivot_table(data, index='variable o variables indice', columns='variable o variables de columna', values='variable sobre la cual se va a calcular suma/cuenta/media/..., aggfunc='funciones de agregación que se van a apicar a cada variable')```

```pd.pivot_table(
    data,
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False,
    dropna=True,
    margins_name='All',
    observed=False,
)```

**Ejemplo - calcular la bad rate (mean de marca_60d_6m_final) por periodo y la cantidad de registros:**

Podemos ver que no usaremos parametro "column" ya que no hace falta, porque estamos agrupando por periodo y caluculando la media de marca malo (bad rate) y la cuenta de registros (0 y 1) por periodo.

In [ ]:
pd.pivot_table(df_merge, index='periodo', values='marca_60d_6m_final', aggfunc=['mean', 'count', 'sum']).head()

**Ejemplo 1) - Queremos ver la cantidad de malos y buenos por periodo**

In [ ]:
pd.pivot_table(df_merge, index='periodo', columns='marca_60d_6m_final', values='rut', aggfunc='count').head()

Acá vemos que agregamos el parametro columna ya que queremos que cuente separando por marca malo (0 o 1). Como values pusimos rut ya que es una columna sin nulos que nos sirve para hacer el count.

**Ejemplo 2) - agrupar por periodo (indice), ver por captacion (columnas) sobre las columnas rut (count) y cant_tel (media).**

In [ ]:
pd.pivot_table(df_merge, index='periodo', columns='captacion', values=['rut', 'cant_tel'],
              aggfunc={'rut':'count',
                      'cant_tel':'mean'}).head()

Vemos que para mapear variable en values con la funcion, creamos un diccionario en aggfunc y elegimos que metrica calcularle a cada uno.

**Otra forma de verlo es sin usar el parametro columna** - Esto va a ser más util para crear un nuevo dataframe.

In [ ]:
pd.pivot_table(df_merge, index=['periodo','captacion'], values=['rut', 'cant_tel'],
              aggfunc={'rut':'count',
                      'cant_tel':'mean'}).head()

**La importancia de .reset_index()**

Es muy importante destacar que si vamos a querer crear un dataset con la agrupacion realizada, es IMPRESCINDIBLE usar .reset_index() al final del codigo, ya que sino no quedara en el formato correcto.

Miremos el ejemplo de arriba aplicando reset_index()

In [ ]:
pd.pivot_table(df_merge, index=['periodo','captacion'], values=['rut', 'cant_tel'],
              aggfunc={'rut':'count',
                      'cant_tel':'mean'}).reset_index().head()

**Ejercicio Práctico utilizando pivot_table**

Agrupar por captacion y obtener la media y el desvio de cant_tel. Para esto crear un nuevo dataset que se llame: info_captacion.

Una vez obtenido esto, joinear la nueva columna al df_merge con un left_join (clave de fusion='captacion'). 

Pista: Para esto una vez obtenido el df info_captacion, debemos renombrar las columnas de manera correcta.

``` info_captacion.columns = ['captacion', 'mean_cant_tel', 'std_cant_tel'] ```

### Group by

Group by es la forma más simple para agrupar variables. Es un poco más simple que pivot_table y las funciones son muy similares. **Muy importante recordar .reset_index() ya que cumple la misma funcion aquí**

**Código**

``` dataset.groupby(['variables de agrupacion'])['variables a calcular metrica'].agg(['métricas: count/mean/sum') ```

Pueden ser mas de una variable de agrupacion, mas de una variable a calcular metrica y más de una metrica.

**Ejemplo - Agrupar por captacion y calcular la media y la cantidad de registros utilizando la variable marca_60d_6m_final**

In [ ]:
df_merge.groupby(['captacion'])['marca_60d_6m_final'].agg(['mean', 'count']).reset_index()

**1) Ejercicio groupby simple**

Agrupar por captacion y periodo, la bad rate (mean de marca_60d_6m_final). Convertir en dataframe en el formato correcto.

**2) Ejercicio groupby medio**

Agrupar por captacion y periodo, la cantidad de registros (count del rut) y la bad rate (mean de marca_60d_6m_final).

### Creación de variables

**Crear la variable "captacion_corregido" en donde si captacion es "EXPRESS", tome el valor "Rápido" y si no tome el valor "Básico.**

Se puede hacer con np.where, con .loc o con .map y un diccionario.

**HACERLO SOBRE DF_MERGE**

**Usando Map**

**Usando Replace**

**2) Crear la columna "flag_predictor" de la siguiente manera**:

Si predictor > 800 entonces flag_predictor = "Alto";
Si predictor es maor a 600 pero menor a 800 entonces flag_predictor = "Medio";
Si predictor es menor o igual a 600 flag_predictor = "Bajo".

**Tener cuidado con los nulos** Si predictor1_6 es nulo ponerle el valor "Revisar".

**- Usando np.where**

**- Usando If-else**

Para esto usaremos lambda x, que aunque no este en las NB de teoria se suele utilizar para este tipo de cosas.

**- EXTRA: Usando cut**

**EXTRA - Crear una columna que sea "nueva_col" la cual sea cada valor de la columna predictor 1_7 menos la resta del valor máximo de esa columna**.

Ejemplo, si el valor maximo de la columna predictor1_7 es 100, y en la primer fila tenemos el valor 80, el valor de esa fila para la nueva columna seria (80-100) = -20.