# üêº Pandas
## La Libreria de Manejo de Datos

---
**Autores de la Notebook:** 


* [Matias Sanchez Gavier ](https://matias-online.netlify.app/) üßõ
* [Matias Moris](https://www.linkedin.com/in/matias-moris-6041337b/) ‚öΩ
* [Anotonio Marrazzo](https://www.linkedin.com/in/antonio-marrazzo-40b3491a2/) ü•á

---


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" alt="Drawing" style="width: 350px;"/>



En esta clase vamos a aprender como usar la libreria de pandas para an√°lisis de datos. Podes pensar a Pandas como una versi√≥n extremadamente poderosa de Excel, con un monton m√°s de posibilidades. Los Temas que vamos a ver son los siguientes:

__Crognograma__

* Librerias
* Manejo de Directorio (OS)
* An√°lisis Introductorio
* Selecci√≥n de Filas y Columnas
* Filtering, Selecci√≥n Condicionada
* Reslover NaN Values
* Operaciones con DataFrames
* Concadenar
* Exportar Archivos 
* Gr√°ficos con Pandas
***

Para m√°s informaci√≥n acerca de pandas  te recomendamos que visites estas p√°ginas: 
- [User Guide Pandas]( https://pandas.pydata.org/docs/user_guide/index.html)

- [Tutorial Pandas ](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)

## üìï Introducci√≥n a las Librerias
---
Las librerias son b√°sicamente c√≥digo externo que podemos utilizar. Esto es clave y es una de la razones para usar python. Mientras m√°s famoso un lenguaje mejores librerias uno dispone.  **Pandas es una libreria** que se centra en el manejo de datos, y es lo que vamos a explorar en este notebook . A continuaci√≥n instalamos algunas librerias.

In [ ]:
#Instalar si es necesario 
# Formato: !pip install Nombre_de_libreria
!pip install numpy
!pip install pandas

El s√≠mbolo **!**  permite ejecutar como si estubieras en la terminal.

### ‚òéÔ∏è Importar librerias

---

Hay varias formas de importar, pero en general cada librer√≠a tiene una forma **tradicional o popular** de importarse, en el sentido de que la mayor√≠a de la gente lo hace de la misma forma.

In [ ]:
# Importando pandas y numpy
import pandas as pd
import numpy as np

## üìÅ  Lectura de Archivos
---

Vamos a utilizar el archivo pokemon.csv del github. Vamos a utilizar la funci√≥n **read_csv()**, hay dos formas de indicarle que archivo leer:

*   Dar un link al archivo csv
*   Indicar el "path" al archivo en nuestra computadora

Si uno esta usando colab se esta manejando con la compu de google, la nuestra no la registra google.

In [ ]:
#Leer con URL 
url = "https://raw.githubusercontent.com/sanchezgaviermatias/Curso-Python/master/2-%20Numpy%20Pandas/delitos_2019.csv"
df = pd.read_csv(url)

_Fuente:_  
https://data.buenosaires.gob.ar/dataset?page=3

CSV es un tipo especial de archivo. Otros tipos de archivos comunes son: 
- JSON Files
- HTML Files
- SQL Files

Puede probar **pd.read**  y apretar tab para ver otras opciones (en Colab solo tiene que esperar y le va a aparecer mas opciones).

In [ ]:
# Ejemplos de funciones para leer datos:
#pd.read_csv()
#pd.read_excel()
#pd.read_html()
#pd.read_json()
#pd.read_sql()
#pd.read_sas()
#pd.read_pickle()

### üóÇÔ∏è Manejo de Archivos  (Solo usuarios en Colab)
---

In [ ]:
#Inidica los archivos en el directorio actual
!ls

In [ ]:
# En google colab puede subir archivos con esta funci√≥n
from google.colab import files
uploaded = files.upload()

### üìÄ  Libreria OS (Opcional)
---
Una libreria que le puede interesar para el manejo de Directorios y Paths (Carpetas) es la libreria OS, para mas  infor visite: 
- [Tutorial - OS](https://stackabuse.com/introduction-to-python-os-module/)
- [Youtube - OS ](https://www.youtube.com/watch?v=tJxcKyFMTGo)

Es como usar la **terminal de la computadora**.
Se suele ver cuando se ve notebooks o proyectos de otras personas.

In [ ]:
#Principales Usos:
import os 

# Directorio Actual
print(os.getcwd()) 


# Mostrar Archivos en el directorio Actual
print(os.listdir())

# crear carpeta
os.mkdir('carpeta')
print(os.listdir())

#Cambiar Directorio 
os.chdir('carpeta')
print(os.listdir())

# Cambiar Directorio
os.chdir("../")
print(os.listdir())


# Elimino la Carpeta 
os.rmdir('carpeta')

La funci√≥n **walk()** de la libreria os realiza un "search" de arriba hacia abajo de todo el sistema de archivos, partiendo desde el path que le indicas. Devuelve un tuple de tama√±o 3 indicando el path (direcci√≥n), directorios(Carpetas) en ese path, y archivos en ese path, sucesivamente hasta que llega a la √∫tlima carpeta.

In [ ]:
for dirpath, dirnames, filnames in os.walk(os.getcwd()):
  print(f"directorio: {dirpath}")
  print(f"Carpetas: {dirnames}")
  print(f"filnames:{filnames}")
  print()

## üìπ An√°lisis Introductorio
---

### Funciones escenciales para reconocer la data que vamos a manejar:

* **Head**: Por default te devuelve las 5 primerias filas de nuestros data set (el encabezado). si usaramos la funcion .tail() nos mostraria las ultimas 5
* **Shape**: por cuantas filas y columnas esta compuesto nuestro data set
* **Info**: Nos devuelve columna por columna, cual es su 'Type' y cuantos datos son No Nulos. Tambien nos da informacion sobre cuanta memoria RAM estamos utilizando para correr este set de datos
* **Columns**: lista de todas nuestras columnas separadas por ,
* **Describe**: Nos devuelve informacion de estadistica descriptiva de todas las columnas numericas (cantidad de registros no nulos, media, desvio, cuantiles, etc)

In [ ]:
df.head()

In [ ]:
# Devuelve (filas, columnas)
df.shape

In [ ]:
#Lista de Columnas
df.columns

In [ ]:
df.info()

In [ ]:
#Estad√≠sticas 
round(df.describe(percentiles=(0.01,0.1,0.9,0.99)),2)

In [ ]:
df.sample(5)

## üë¨ Diferencia entre Series y Data Frames
---

Hay una s√∫til diferencia cuando trabajamos con una **columna (Series)** o multiples (Data Frames).  Como son diferentes objetos, hay cosas que se pueden hacer en uno y en otros no.

In [ ]:
print(type(df["comuna"])) # Serie

type(df) # Data Frame

### ü¶ò Dtype

Cada Serie tiene **su propio tipo de dato**, denominado **Dtype**, estos son en general:

- int64 (n√∫mero entero)
- float (n√∫mero real)
- object (String, texto)
- bool (verdadero o falso)

In [ ]:
# Con info() podemos ver el Dtype de cada Serie
df.info()

## üçß Selecci√≥n de Filas y Columnas  
---

###  Selecci√≥n de  Columnas
---

In [ ]:
df["barrio"]

In [ ]:
#seleccion de multiples columnas
df[["barrio","comuna"]].sample(7)

### Selecci√≥n de  Filas y Columnas
---

seleccion con **LOC** , debemos pasarles "Nombres" , es decir, tanto de filas como columnas, indicarle Qu√© posicion, hasta donde, o a partir de donde, pero siempre pidiendole con el nombre: `colname` o `rowname` tanto de la fila como de la columna `(fila,columna)`

In [ ]:
df.loc[:3,:'barrio']

en este caso le pasamos numeros en las "filas" dado que el `√¨ndex` es el que Pandas nos da por default del 0 hasta n.

Si quisieramos tomar filas en particular, deberiamos pasarlas en forma de Lista`[1,2,10,232]`

In [ ]:
df.loc[0:4, "tipo_delito"]

con **ILOC** buscamos en t√©rminos de la `posici√≥n` , no le importa el nombre de las filas o columnas.

In [ ]:
df.iloc[:6,:5]

### üç´  Selecci√≥n Condicionada
---

**Simbolos y su S√≠gnificado:**
  
* No   **-**
* Y   **&**
* O   **|**
* son iguales?    **==**
* mayor, menor ... **>, <, >=, <=**

In [ ]:
df.loc[df["barrio"] == "Villa del Parque"].head()

¬øQue pasa cuando tenemos que pasarle mas de 1 condicion?

In [ ]:
df.loc[(df["barrio"] == "Villa del Parque") & 
       (df["tipo_delito"]=='Robo (con violencia)') & 
       (df['subtipo_delito'] == 'Robo Automotor')].head()

si a la seleccion la `asignamos` a alguna variable, con el **LOC** podemos reutilizarla para realizar una sub-seleccion

In [ ]:
mask = (df["fecha"] == "2019-12-30") & (df["comuna"]== 11) & -(df["barrio"]=='Villa del Parque')

df.loc[mask, :'barrio'].head()

_Otro ejemplo:_

In [ ]:
mask =  (df["barrio"].isin(["Villa Devoto", "Villa Gral. Mitre"]))
df.loc[ mask, : ].head()

## ‚òï Index
---

cuando le pedimos a Pandas que nos devuelva los indices de nuestro DF nos va devolver como estan guardados (parecidos los rangos que vimos anteriormente)

In [ ]:
df.index

### üíæ Setear Index

Podemos **Redefinir** el Indice que tuvimos por default utilizando la siguiente funcion:

In [ ]:
# le indicamos una columna para que sea el √≠ndice

df.set_index("id").head( )

In [ ]:
df.head()

El cambio que hicimos **no se guardo!** Esto es muy com√∫n con pandas.

Cuando hacemos cambios que afectan el dataset los cambios no se suelen guardar.

Para que los cambios tengan efecto permanente usamos el par√°metro `inplace=True`

In [ ]:
df.set_index("id", inplace=True)

In [ ]:
df.head()

Ahora si, cuando utilicemos la funcion **LOC** vamos a tener que pasarle el nuevo Index (ya no es mas de 0 a n)

In [ ]:
df.loc[425359, : ]

In [ ]:
df.loc[[371604,425359], :]

### üï∞ ReSetear Index
---

In [ ]:
df.reset_index().head()

In [ ]:
df.head()

Nos volvio a pasar lo mismo, esto es porque cuando hacemos un `reseteo` del Index, Pandas va a pisar a nuestro indice actual y lo va a eliminar de nuestro DF

## üêæ Resolver NaN 
---
Significa Not a Number, es lo que generalmente conocemos como `Nulo, Null` o en excel es simplemente una celda sin datos. 

Es importante que no haya NaN, ya que estos nos pueden generar problemas (existen ciertos algoritmos que pueden sortearlos pero no es recomendable tenerlos).

Hay 3 opciones:
 - Eliminar filas con NaN
 - Eliminar Calumnas con NaN
 - Reemplzar NaN con Otros Valores

### üîä Detectar NaN values

In [ ]:
# Primer M√©todo
df.info()

In [ ]:
#Segundo  M√©todo, Recomendado
df.isnull().sum()
#isna

In [ ]:
# Ordenamos de mayor a menor
df.isnull().sum().sort_values()

### üì¥ Eliminar NaN Values
---

Eliminar columnas o eliminar filas? Depende el tipo de data set que tengamos podremos determinar que conviene. Regularmente _**eliminar filas**_ es mucho mas practico, dado que todas las columnas pueden ser de valor, pero...

Cuando tenemos un caso como este, donde una columna tiene casi todos sus registros Nulos, eliminando las filas perderiamos casi todo el potencial del data set, aqui SI conviene _**eliminar una columna**_ que aporta pocos atributos.

In [ ]:
df.head()

In [ ]:
#eliminar columna 'Axis=1, Columnas'
df.drop("subtipo_delito",axis=1).head()

Que pasaria si borrasemos todas las filas con `Nulos`??

In [ ]:
#Eliminar Filas
y = df.dropna()
print(y.shape, df.shape)

#### Variables Numericas

In [ ]:
# Reemplzar valores NaN
df.fillna(df.mean())

**Sugerencia:** En estos casos donde hay pocas variables numericas, podemos reemplazar cada una por su propia Media `mean()`

In [ ]:
df['long'].fillna(df['long'].mean(), inplace = True)

In [ ]:
# Ordenamos de mayor a menor
df.isna().sum().sort_values(ascending=False)

Los m√©todos m√°s comunes para reemplzar NaN son :

- Variables **Continuas** --> Media, Mediana, Modo


- Variables **Categ√≥ricas** --> Modo, Su propia Categor√≠a  NaN

Tamb√≠en se pueden usar modelos estad√≠sticos para intentar predecir los valores desconocidos.

## üïπTransformaci√≥n de Variables
---

#### Qu√© pasa cuando tenemos valores que queremos descartar, pero no son Nan?

In [ ]:
df['franja_horaria'].value_counts().tail()

Nos vamos a guardar los `Index` de todas las filas que contengan ese "S/D" que hace que una columna Numerica sea un String

In [ ]:
h = df[(df.franja_horaria == 'S/D')].index

In [ ]:
h.unique()

Como ya sabemos, con la funcion **DROP** vamos a poder eliminar _Filas con NaN_

In [ ]:
df.drop(h, inplace = True)

In [ ]:
df.franja_horaria.value_counts().tail()

In [ ]:
df.info()

In [ ]:
df.franja_horaria = pd.to_numeric(df.franja_horaria).astype('Int64')

In [ ]:
df.info()

## üõ°Ô∏è  Group By
----
¬øQue es un Group By?



![Image of Yaktocat](https://data36.com/wp-content/uploads/2017/06/SQL-GROUP-BY-clause-1024x720.png)

In [ ]:
df["barrio"].unique()

In [ ]:
#Group By por si solo no hace nada
group_barrio = df.groupby("barrio")
group_barrio

In [ ]:
# Devuelve la media para cada variable 
group_barrio.mean()

In [ ]:
group_barrio.mean()["franja_horaria"].sort_values(ascending=False).head()

In [ ]:
group_barrio.std()["comuna"].head()

In [ ]:
group_barrio.describe()["cantidad_registrada"].sort_values(by='count',ascending=False).head()

## üéØMerge
---

Es una funcion que nos permite **UNIR** dos Data Frames. 

Esta _Union_ se va a llevar a cabo de diferentes maneras:
 - Inner
 - Left
 - Right
 - Outer

![Image of Yaktocat](https://miro.medium.com/max/1200/1*9eH1_7VbTZPZd9jBiGIyNA.png)

In [ ]:
data1 = { 'Nombres': ['Juan','Rosa','Pepe', 'Maria'], 
        'Color': ['Verde','Rojo','Azul','Negro'],
        'Numeros': [5,8,8,9]}

data2 = { 'Nombres': ['Juan','Rosa','Pepe'], 
        'Color': ['Verde','Rojo','Azul'],
        'Numeros': [5,8,8]}

data3 = { 'Nombres': ['Juan','Tini','Pepe', 'Maria'], 
        'Color': ['Verde','Negro','Azul','Negro'],
        'Numeros': [5,20,8,9]}

In [ ]:
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)
print(df1)
print(df2)
print(df3)

In [ ]:
df1.merge(df2,on='Nombres')    #default = inner

In [ ]:
df1.merge(df2,on='Nombres',how='left')
df1.merge(df2,on='Nombres',how='right')

In [ ]:
df2.merge(df3,on='Nombres',how='inner')

In [ ]:
df3.merge(df2,on='Nombres',how='outer')

In [ ]:
df1.merge(df2,on=['Nombres','Color'],how='left')

In [ ]:
#Otra forma de escribir la sentencia
pd.merge(df3,df2,on='Nombres',how='outer')

## üß∑ Concatenar
---

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df2

In [ ]:
pd.concat([df1,df2]) # stockean como blockes de lego

In [ ]:
pd.concat([df1,df2], axis=1) #Por Default axis=0, se acumulan a la derecha

## üé®Join 
---

Con el joinning buscamos las mismas Keys en tablas diferentes para poder juntar esos datos.

In [ ]:
df10 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])


df11 = pd.DataFrame({'B': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

df10
df11

In [ ]:
df1.join(df2,
          rsuffix='_1',
          how='outer')

### _**Aplicamos lo aprendido con las ultimas funciones**_

In [ ]:
df_group=pd.concat([df1,df2,df3]).groupby(by=['Nombres','Color']).sum()
df_group

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

##  üíÆ  Operaciones 
---
### Operaciones B√°sicas

In [ ]:
df['cantidad_registrada'].sum()

In [ ]:
df['franja_horaria'].mean()

In [ ]:
df['cantidad_registrada'].std()

In [ ]:
df.nunique().sort_values()

In [ ]:
df["barrio"].unique()

In [ ]:
df["tipo_delito"].apply(len)

###  üß±   Operaciones entre Columnas

In [ ]:
df["columna_x"] = df["comuna"]*(1/3) + df["franja_horaria"]*(2/3)
df["columna_x"] = round(df["columna_x"])
df.head()

In [ ]:
# valor Z !
df["columna_z"] =  (df["columna_x"] - df["columna_x"].mean()) / df["columna_x"].std()
df.head()

### üî¶ Info en valores √∫nicos

In [ ]:
#Valores √∫nicos
df["comuna"].unique()

#Cantidad de Valores √∫nicos
df['comuna'].nunique()

#Frecuencia Absoluta 
df['comuna'].value_counts()

###  Columnas  Condicionales 
---

Este paso es muy com√∫n y es muy usado para realizar **feature engineering**, crear nuevas variables a partir de ya existentes.

Queremos crear una nueva columna donde indiquemos que tan cool es el pokemon basado en la generaci√≥n.  Entonces usamos esta regla:

- Entre 1 y 3 son  Loosers
- Entre 4 y 5 son casi Cool
- 6 son Instagramers 

para esto vamos a usar la **selecci√≥n condicional** que vimos hace un rato.

In [ ]:
df.loc[df['comuna'] <= 4 , 'barrio_clase'] = "este"

df.loc[(4 < df['comuna']) & (df['comuna'] <=8) , 'barrio_clase'] = "oeste"

df.loc[df['comuna']>8 , 'barrio_clase'] = "centro"

df.head()

In [ ]:
print(df["barrio_clase"].unique())
df["barrio_clase"].value_counts()

###  üõ†Ô∏è  Funciones aplicadas a las columnas

Vamos a usar el m√©todo **apply()**, el cual toma como input una funci√≥n. La idea es que se va a ejecutar a cada elemento.

In [ ]:
def times2(x):
    return x*2

In [ ]:
df["comuna2"] = df['comuna'].apply(times2)
df.head()

**Funcion INSERT**

In [ ]:
h = df['comuna2']
df.insert(0,'comuna_nueva',h)
df.head()

### ü§∫ Operaciones Summary
---
Estas son algunas de las funciones que se aplican cuando usamos la **funci√≥n describe()**

Otras operaciones summary son:
- .min()
- .max()
- .count()
- .idxmax()
- .idxmin()
- .quantile()
- .skew()
- .kurtosis()

In [ ]:
print(df["comuna"].min()) # Minimo
print(df["comuna"].max()) # Maximo
print(df["comuna"].count()) # Cantidad
print(df["comuna"].idxmax()) # El √≠ndice del valor m√°ximo
print(df["comuna"].idxmin()) # El √≠ndice del valor m√≠nimo
print(df["comuna"].quantile([.25,.5,.75])) # Los quantiles
print(df["comuna"].skew()) # Asimetria
print(df["comuna"].kurtosis()) # Kurtosis

Se puede Armar Dataframes a partir de Diccionarios

## üëæ Funciones Con Pandas! WOW
---
Vamos a ver como crear funciones para automtizar nuestro laburo

In [ ]:
def obtener_Z(df, columna):
    # valor Z !
    df2 = pd.DataFrame([])
    df2[f"Z_{columna}"] =  (df[columna] - df[columna].mean()) / df[columna].std()
    return df2

obtener_Z(df, "comuna")

In [ ]:
# Sacamos los valores Z para Attack 

Z_comuna = obtener_Z(df, "comuna")

pd.concat([df, Z_comuna ], axis=1)

##  üíê Intervalos de Clase
---

La idea es transformar las variables continuas en discretas, poniendolas en contenedores.

In [ ]:
df.head()

In [ ]:
# Con Cut le indicamos cuanto contenedores queremos
pd.cut(df["franja_horaria"], bins=15)

In [ ]:
# qcut se Basa en quantiles 
df["franja_IC"] = pd.qcut(df["franja_horaria"],[0,0.25,0.5,0.75,1])
df["franja_IC"]

## ü§™  Dummy Variables
---
Es la forma de Transformar variables en discretas en valores num√©ricos.


La variable toma 1 si se cumple la condici√≥n y 0 en caso que no.

In [ ]:
df.head()

In [ ]:
pd.get_dummies(data = df, columns=["subtipo_delito"], prefix="sub_Dummy", drop_first=True ).head()

## üíå Funciones relacionadas al Texto
---
En general vamos a usar **.str** para indicar que vamos a usar una funci√≥n relacionada a las strings.

In [ ]:
df["barrio"].str.lower()

In [ ]:
#mask = df["barrio"].str.contains('vil')
#df.loc[mask, :]

##  üë©‚Äçüè´ Cambiar los nombres de Columna 
---
Vamos a usar la funci√≥n **rename()**.

In [ ]:
df.rename(columns = {'barrio':'Barrio', "comuna": "Poligono"}, inplace=True)
df.head()

In [ ]:
df.columns

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
df.columns.values[1] ="nombre"
df.head()

## üëÄ Exportando Archivos
---

In [ ]:
#Exportando a CSV
df1.to_csv('Ejemplo.csv',index=False)
#Exportando a Excel
df1.to_excel("excel_df.xlsx", index=False)

In [ ]:
pd.read_csv("Ejemplo.csv")

# Felicitaciones por completar esta parte!